/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.card {
  margin: 10px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.105) 10px 10px 10px;
  height: 500px;
}

.photo {
  background-image: url('https://www.amsterdam.nl/publish/pages/963723/940x415_nieuwbouw_houtbouw-centrumeiland_si-096.jpg');
  background-position: center;
  height: 130px;
}

.card-info-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.144);
  height: 300px;
}

.card-info-action {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 80px;
}

.additional-info p {
  margin: 0px;
  padding: 0px;
}
